/**
 * Keywords
 */

.container
	display flex
	position relative
	padding 6rem 0
	margin-top -4rem
	justify-content center
	font-size 2.5em

	&:before
		content ""
		position absolute
		top 0
		left -100vw
		width 200vw
		height 100%
		background-color var(--background_color)
		z-index -1

.content
	display flex

.label
	display none

.input
	border none
	outline none
	border-bottom .05em solid var(--color_07)
	width 100%
	padding .2em 1.5em .2em .2em
	background-color transparent
	font-size inherit

.button
	margin-left -1em
	padding 0
	transition fill .1s var(--ease)
	display flex
	align-items center

	svg
		width 1em
		height 1em
